@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-slate-900 font-sans antialiased;
  }
}

/* Classes customizadas de Acessibilidade */
.large-text {
  font-size: 1.15rem;
}

.high-contrast {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.high-contrast * {
  background-color: #000000 !important;
  color: #ffffff !important;
  border-color: #444444 !important;
}

.reduce-motion * {
  animation: none !important;
  transition: none !important;
}
